    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Anticucho Crudo</h2>
                <p>antē-kooCHō<br>kroo-dō</p>
                <p>
                <p>We are a band based in and around Washington D.C.</p>
                <p>The band name comes from a peruvian dish made from beef heart
                (<a href="https://en.wikipedia.org/wiki/Anticuchos">anticuchos</a>),
                and while our sound may be <b>raw</n> (<i>crudo</i>), we play from the
                heart and hope that you will find it delicious!
                </p>
                <!--
                <a href="#music" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
                -->
            </div>
        </div>
    </section>
