    <!-- Download Section -->
    <section id="gigs" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Gigs</h2>
                    <p>You can catch us at the following events:</p>
                    <p><img src="img/gig01.png" class="img-responsive" alt="Responsive image"><p>
                    <!--
                    <a href="#contact" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    -->
                </div>
            </div>
        </div>
    </section>
